@import './../../../variables';

.ProfileActions {
    display: flex;
    justify-content: space-between;

    height: 2.8125em;
    padding: 0.625em;
    align-items: center;
    border-bottom: 1px solid #000;
    cursor: pointer;
    transition: 200ms;
    text-decoration: none;
    font-weight: $semiBold-600;
    color: #000;

    > .Icon-IconMessage {
        display: flex;
        gap: 0.625em;
        align-items: center;
        > svg {
            scale: 1.30;
        }
    }

    &:nth-child(1) {
        border-radius: 0.625em 0.625em 0 0;        
    }

    &.active {
        background-color: $secondary-color;
    }

    &:hover:not(.active) {
        background-color: $secondary-color-dark;
    }
}