$main-font: "Quicksand", sans-serif;
$light-300: 300;
$regular-400: 400;
$medium-500: 500;
$semiBold-600: 600;
$bold-700: 700;

$primary-color: #2B4D71;
$primary-color-light: #5A7BA0;
$primary-color-dark: #002745;

$secondary-color: #C9CFDF;
$secondary-color-light: #EFEFEF;
$secondary-color-light-alt: #FCFFFF;
$secondary-color-dark: #989EAD;