@import "./../variables";

main.main-layout{
    margin-top: 4.375em;
}

.Main-Wrapper {
    position: fixed;    
    transition: linear 500ms;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    pointer-events: none;

    &.Main-Wrapper-black {
        background-color: rgb(0 0 0 / 0.5);
        pointer-events: all;
    }
}