@import '../../variables';

.Form {
    display: flex;
    width: 100%;
    min-height: 100vh;

    > .inputs {
        display: flex;
        flex: 1;
        max-width: 35em;
        min-width: 15em;
        width: 30%;
        height: 100%;
        background: $secondary-color;
        color: #000000;
        justify-content: center;
        
        > .form-fields {
            display: flex;
            height: 100%;
            width: 60%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0.4rem;

            > .title {
                font-size:  1.2rem;
                font-weight: bold;
                margin-bottom: 1.5rem;
            }

            .side-inputs {
                display: flex;
                width: 100%;
                justify-content: space-between;

                div {
                    > div.side-input-text {
                        position: relative;
                        padding-top: 0.5em;
                        display: block;

                        input {
                            font-size: 0.75em;
                            cursor: pointer;
                        }

                        .select-menu {
                            color: #3d3d3d;
                            cursor: pointer;
                            width: 120px;
                            border-radius: 0.5rem;
                            border: none;
                            outline: none;
                            padding: 0.5rem 1.1rem ; 
                            margin-bottom: 0.5rem;
                            box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.25);
                            padding: 0.75em;
                            font-size: 13px;
                            margin-bottom: 1.5em;
                            font-family: $main-font;
                            font-weight: 600;
                            appearance: none;

                            option {
                                color: black;
                                background-color: $secondary-color-light-alt;
                            }
                        } 
    

                        span {
                            .arrow {
                                position: absolute;
                                font-size: 20px;
                                fill: grey;
                                top: 16px;
                                right: 10px;
                                pointer-events: none;
                            }
                        }
                    }
                }
            }

            .label {
                width: 100%;
                font-size: 0.8rem;
                font-weight: 700;
                padding-bottom: 0.5em;
            }

            .input, .submit-button {
                width: 100%;
                border-radius: 0.5rem;
                border: none;
                outline: none;
                padding: 0.5rem 1.1rem ; 
                margin-bottom: 0.5rem;
                box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.25);
                padding: 0.8em;
                font-size: 13px;
                margin-bottom: 1.5em;
                font-family: $main-font;
                font-weight: 600;
            }

            .submit-button {
                text-align: center;
            }

            .buttons-container {
                padding-top: 1em;
                display: flex;
                width: 100%;
                gap: 1em;
            }

            .submit-button:hover {
                background-color: $primary-color-dark;
                transition: ease-in-out 300ms;
                cursor: pointer;
            }
              
            .submit-button:first-child {
                background-color: $secondary-color-light;
                color: $primary-color-light;
                font-weight: 700;

                &:hover {
                    color: $primary-color-dark;
                    transition: ease-in-out 300ms;
                    cursor: pointer;
                }
            }
            
            .submit-button {
                width: 100%;
                background: $primary-color-light;
                color: white;
            }

            .line {
                width: 100%;
                border: 1px solid #2B4D71;
                margin-bottom: 1em;
            }

            .new-user-div {
                width: 100%;
                text-align: center;

                > .Span {
                    font-size: 0.9rem;
                    font-weight: bold;
                    padding-right: 0.8em;
                }

                > .linked-text {
                    font-size: 0.9rem;
                    font-weight: bold;
                    text-decoration: underline;
                    color: black;

                    &:hover {
                        color: $primary-color-light;
                        cursor: pointer;
                    }
                }
            }
        }

    }

    .logo {
        width: 100%;
        height: 100%;
        overflow: hidden;
        background: $primary-color;        
        flex: 1;
        position: relative;

        > .logo-container {
            position: absolute;
            z-index: 1;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            > .logo-image {                
                height:20em;
                width:20em;                
            }
        }

        > .contenedor {
            width: 100%;
            height: 100%;
            
            > .image {
                width: 100%;
                height: 100%;
                filter: blur(10px);
                object-fit: cover;
            }
        }
    }

    @media (max-width: 600px) {
        .inputs {
            flex: 1;
            max-width: 100%;
        }

        .logo {
            display: none;
        }
    }
}